$white: #ffffff;
$black: #1c1c1c;
$rose: #e27866;
$green: #41d395;
$blue: #6696e2;
$gray: #86878b;

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: $white;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  margin-left: 11%;
}

.header {
  background-color: $black;
  padding: 1rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 42px;
  margin-right: 11%;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: $gray;
  transition: color 0.3s;

  &:hover {
    color: $white;
  }
}

#orange-highlight {
  position: absolute;
  bottom: -34px;
  width: 100%;
  height: 2px;
  background-color: $rose;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-link:hover + #orange-highlight {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  .bar {
    width: 25px;
    height: 3px;
    background-color: $white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.eighty-percent-wrapper {
  width: 76%;
  margin-left: 12%;
}

.hero {
  height: 640px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/background.png");
  background-size: cover;
}

.hero-left {
  width: 55%;
}

.hero-left h1 {
  color: $white;
  margin: 22px 0;
}

.hero-left p {
  color: $white;
  opacity: 80%;
  font-size: 16px;
  margin-bottom: 36px;
}

.hero-logo {
  padding-top: 65px;
}

.hero-logo img:first-child {
  height: 110px;
}

.hero-left button {
  border: 3px solid $white;
  width: 135px;
  height: 42px;
  background: none;
  color: $white;
}

.hero-left button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s;
}

.hero-right {
  width: 50%;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero .eighty-percent-wrapper {
  display: flex;
  justify-content: space-between;
}

.trial-form {
  border-radius: 10px;
  height: 425px;
  width: 72%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trial-form input[type="text"],
.trial-form p {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.trial-form p {
  font-weight: 600;
  margin-top: 1;
}

#trial-form {
  width: 100%;
}

.trial-form p:first-of-type {
  margin-top: 25px;
}

.trial-form input:nth-of-type(4) {
  margin-left: 15%;
}

.trial-form input[id="submit"] {
  text-align: center;
  width: 100%;
  border: none;
  height: 60px;
  margin-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  background-color: $green;
}

.trial-form input[id="submit"]:hover {
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.trial-form input[type="text"] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #d8d8d8;
  height: 28px;
  margin-bottom: 20px;
  color: #d8d8d8;
}

.trial-form input[type="text"]:focus,
.trial-form input[type="text"]:not(:placeholder-shown) {
  border-color: $rose;
  color: $black;
}

.trial-form input[type="radio"] {
  font-size: 9px;
  accent-color: $green;
}

.trial-form label {
  font-size: 9px;
  font-weight: 700;
}

.form-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 57px;
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
}

.form-title h2 {
  font-size: 20px;
  margin: 17px 0;
  font-weight: 500;
}

.form-title span {
  color: $rose;
}

.social {
  height: 105px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.social .eighty-percent-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-left {
  width: 40%;
}

.social-left h4 {
  margin-bottom: 5px;
  margin-top: 19px;
  font-size: 20px;
  font-weight: 600;
}

.social-left p {
  margin-top: 5px;
  font-size: 14px;
  color: #86878b;
}

.social-right {
  padding-top: 10px;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.tabs {
  height: 595px;
  background-size: cover;
  background-image: url("assets/tabs-background.png");
}

.additional {
  display: none;
}

.tabs {
  background: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.2),
      rgba(226, 120, 102, 0.2)
    ),
    url("assets/tabs-background.png");
  background-size: cover;
  background-position: bottom;
}

.tabs .eighty-percent-wrapper {
  padding-top: 150px;
  display: flex;
  align-items: center;
}

.tabs-left-column {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.image-grid {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tab-button {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 0;
  background: #a37169;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-button p {
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.tab-button:hover {
  background-color: $rose;
  transition-duration: 1s;
  cursor: pointer;
}

#tabs-text-column {
  margin-left: 5%;
  color: $white;
}

#tabs-text-column h2 {
  font-size: 36px;
  font-weight: 500;
  margin-top: 0;
}
#tabs-text-column p {
  font-weight: 300;
  font-size: 14px;
}

.image-card {
  text-align: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 35px;
  font-size: 18px;
  font-weight: 600;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#line-one .image-card {
  height: 168px;
  position: relative;
}

#line-two .image-card {
  height: 177px;
  object-fit: cover;
}

#line-one img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  object-fit: cover;
}

#line-two img {
  height: 100%;
  display: block;
  padding: 0;
  object-fit: cover;
}

#line-two .image-card {
  height: 177px;
}

.transparent {
  opacity: 0.5;
  transition: 0.5s ease;
}

.image-card img:after:hover {
  opacity: 1;
}

#line-one {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
#line-two {
  display: flex;
  justify-content: flex-end;
}

.image-grid {
  padding-left: 5%;
}

.visible {
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s;
}

#tabs-mobile {
  display: none;
}

.about .eighty-percent-wrapper {
  display: flex;
  height: 596px;
  align-items: center;
  justify-content: space-between;
}

.about {
  background-color: $black;
}

.about-left {
  width: 50%;
}

.about-left img {
  height: 170px;
}
.about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
}

.about-right h3 {
  font-size: 30px;
}

.about-right p {
  font-weight: 300;
}

.about-right img:first-of-type {
  width: 200px;
}

.block-div {
  display: block;
}

.text-with-symbol {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 1024px) {
  #logo {
    margin-left: 15px;
  }

  #orange-highlight {
    position: absolute;
    bottom: -10px;
    left: 32%;
    height: 2px;
    width: 36%;
  }

  .nav-link {
    color: $gray;
    transition: color 0.3s;

    &:hover {
      color: $black;
    }
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    padding-top: 15px;
    padding-bottom: 30px;
    left: 0;
  }

  .nav-item {
    padding-top: 1rem;
    margin: 0.5rem 0;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    padding-top: 8px;
    padding-right: 15px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hero-description {
    display: none;
  }

  .hero-right {
    display: none;
  }

  .hero-left {
    width: 100%;
  }

  .social-left {
    display: none;
  }

  .social-right {
    width: 100%;
    margin-top: 30px;
  }

  .additional {
    display: block;
  }

  #tabs-left-column {
    display: none;
  }

  #tabs-text-column {
    width: 100%;
  }

  #tabs-text-column h2 {
    font-size: 24px;
  }

  .tabs .eighty-percent-wrapper {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .image-grid {
    display: none;
  }
  #tabs-mobile {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 2dvh;
    margin-left: auto;
    margin-right: auto;
  }

  .about-left {
    display: none;
  }

  .about-right {
    width: 100%;
  }

  .about-right > img {
    display: none;
  }

  .about-right > p {
    display: none;
  }

  .about-right h3 {
    display: none;
  }
}
